h3 {
    float: left;
    font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size:115%;
    padding:0 0 0.3em 1em;
    font-weight: normal;
}
table {
    float:left;
    text-align: center;
}
table td {
    padding: .5em 0;
}
table th {
    color: #666;
    text-align: left;
}
table caption {
    margin: 0 0 .5em 0;
}


label { 
    float: none !important
}
input[type=radio] {
    margin-left: .5em;
}


input[type=text] {
    width: 100%;
}
.item-props-wrap {
    width:45%;
}
.item-props-wrap div {
    width: 100%;
}
.item {
    float: left;
}
.input-wrap-label-right label {
    float: right !important;
    margin-top: .5em;
}
.input-wrap label {
    float: left !important;
}

.input-wrap {
    width: 45%;
    margin-bottom: 1em;
}
#page-content a {
    margin: .5em 0 0 1em;
    clear: none;
}

.page-list {
    float: left;
    clear: left;
}
.page-list li {
    padding: .2em;
}
.page-list input {
    float: none !important;
    display: inline !important;
}
.page-list label {
    display: inline !important;
    float: none !important;
}
.location-chooser {
    float: right;
    clear: right;
    width: 45%;
}

.location-chooser select {
    width: 10em;
}


.item-type-chooser, .pages-list {
    float: left;
    clear: left;
    width: 40%;
}


#groups {
    margin: 1em 0 0 3em;
    width: 50%;
}

#pages {
    clear:left;
    width:100%;
}

#pages tbody tr:hover {
    cursor:pointer;
    background: #d5d5d5;
}

#groups tbody tr, #pages tbody tr {
    background: #f1f1f1;
}
