dl { float: left; }
dt { color: #069; padding: 0 0 .4em 1em; font-weight: bold; }
dd d { margin: .3em 0 0 1em }
dd a {  padding: .7em; border: none; }
dd a:hover { background: #cbcbcb; }
#template_frm fieldset {
    width: 35%;
    float: right;

}
dd div { text-align: right; margin: .4em .4em 1em 0}
#template_frm div.input-wrap { width: 96%; margin-top: 1em; }
#template_frm input[type="text"], textarea { width: 100%;}
#template_frm .submit { float: right; }



#template_frm .submit { margin-right: 1em }
